# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build
.turbo
storybook-static

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Vercel
.vercel
